# bundle input/output file
bundle.md

# llm keys and logs
.llm/keys.json
.llm/logs.db

# llm configuration files
.llm/default_model.txt
.llm/extra-openai-models.yaml

# aider cache, logs and history
.aider*

# possible output files
code-review.md
issues.md
missing-tests.md
